h1 {
    width: 100%;
    text-align: center;
}

.button {
    margin: auto;
    text-decoration: none;
    height: 50px;
    border: 4px gray outset;
    color: black;

}

.button:hover {
    border-style: inset;
}