h1 {
    width: 100%;
    text-align: center;
}

.button {
    display: block;
    padding: 5px;
    margin: auto;
    width: fit-content;
    text-decoration: none;
    border: 4px gray outset;
    color: black;
}

.button:hover {
    border-style: inset;
}

.back {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

.input {
    width: 99%;
    height: 30px;
    font-size: 25px;
    margin: auto;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

#submit {
    transform: translate(12px);
    -webkit-transform: translate(12px);
    -moz-transform: translate(12px);
    -ms-transform: translate(12px);
    -o-transform: translate(12px);
}


@media only screen and (max-width: 400px) {
    .back {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: -10px;
    }
}