<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>New Bookmark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/ca4593bb62.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashed-messages">
        {% for message in messages %}
        <li class="message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Your Bookmarks</h1>
    <a href="{{ url_for('new') }}" class="button">Add a new bookmark</a>

    <button id="settings-general" onclick="document.getElementById('general-settings-menu').classList.toggle('hidden')">Settings</button>
    <div id="general-settings-menu" class="hidden">
      <input type="text" id="proxy" placeholder="Proxy: None">
      <button id="apply-settings" onclick="addProxy(document.getElementById('proxy').value)">Apply</button>
    </div>

    <div id="tabs">
      <button id="tab--1" onclick="displayBookmarks(-1);">All</button>
      <button id="tab-2" class="selected" onclick="displayBookmarks(2);">Reading</button>
      <button id="tab-1" onclick="displayBookmarks(1);">On Hold</button>
      <button id="tab-0" onclick="displayBookmarks(0);">To Read</button>
    </div>

    <input type="text" id="bookmarks-search" onkeyup="FilterBookmarks()" placeholder="Search for mangas..">

    <div id="bookmarks">
      <ul id="bookmarks-ul">
        <span id="loading">Loading...</span>
        <span id="error" style="display: none;">Error</span>
      </ul>
    </div>


  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
