<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>New Bookmark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/ca4593bb62.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashed-messages">
        {% for message in messages %}
        <li class="message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Your Bookmarks</h1>
    <a href="{{ url_for('new') }}" class="button">Add a new bookmark</a>


    <div id="bookmarks">
      <ul id="bookmarks-ul">
        <span id="loading">Loading...</span>
      </ul>
    </div>


  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
