<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>New Bookmark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

    <a href="{{ url_for('index') }}" class="back">back</a>
    <h1 id="newTitle">New Bookmarks</h1>

    <form id="newBookmark" onsubmit="" action="{{ url_for('index') }}">
        <label for="mname" class="label for-mname">Manga Name:</label>
        <input type="text" id="mname" name="mname" class="input">
        <br>
        <label for="link" class="label for-link">Manga Link:</label>
        <input type="url" id="link" name="link" class="input">
        <br>
        <label for="chapter" class="label for-chapter">Current Chapter:</label>
        <input type="number" id="chapter" name="chapter" class="input">
        <br>
        <br>
        <input type="submit" value="CREATE" id="submit" class="input">
    </form>

    <!-- <script src="./bookmarks.js"></script> -->
  </body>
</html>
