{% from "_formhelpers.html" import render_field %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>New Bookmark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashed-messages">
        {% for message in messages %}
          <li class="message">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    <a href="{{ url_for('index') }}" class="back">back</a>
    <h1 id="newTitle">New Bookmarks</h1>

    <form id="newBookmark" method="post" novalidate>
      {{ form.hidden_tag() }}

      {{ render_field(form.mname, class_="input") }}
      {{ render_field(form.link, class_="input") }}
      {{ render_field(form.chapter, class_="input") }}
      {{ render_field(form.status, class_="input") }}
      {{ form.submit(class_="input") }}

    </form>
  </body>
</html>
